#table-basic {
    width: 90%;
  }
  
  #table-basic td, #table-basic th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table-basic tr:nth-child(even){background-color: #f2f2f2;}
  
  #table-basic tr:hover {background-color: #ddd;}
  
  #table-basic th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a60000;
    color: white;
  }